.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-height: 50vh;
    padding: 6rem 10rem;
}

.contact h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
}

.contact p {
    color: #666;
    line-height: 1.6;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
}

.contact input,
.contact textarea {
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border-color: #6f4607;
    transition: border-color .2s ease;
}

.contact textarea {
    min-height: 150px;
    resize: vertical;
}



.contact button {
    background-color: #6f4607;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    align-self: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

@media (max-width:768px) {
    .contact {
        padding: 3rem 1.5rem;
    }

    .contact form {
        width: 100%;
        max-width: 350px;
    }
}