.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 10rem;
    background-color: #6f4607;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
}

.footer ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.footer a:hover {
    opacity: 0.8;
}

@media (max-width:768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 3rem 1.5rem;
    }

    .footer-logo {
        align-items: center;
    }

}