nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    align-items: center;
    background-color:#6f4607;
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

nav a:hover{
    opacity: 0.8;
    color: #f5d7a1;
}

@media (max-width:768px) {
 nav {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    gap: 1rem;
 }
 
 nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
 }
}

