nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

